*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 330vh;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: purple;
    text-shadow: 0px 0px 6px black;
}

.content-all{
    width: 65px;
    margin: auto;
    perspective: 900px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    background-color: black;
    position: absolute;
    transform-style: preserve-3d;
}


.content-carrousel figure{
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: pink;
    width: 100%;
    height: 180px;
    position: absolute;
    box-shadow: 0px 0px 10px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(15deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(30deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(45deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(60deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(75deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(90deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(105deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(135deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(150deg) translateZ(300px);}
.content-carrousel figure:nth-child(11){transform: rotateY(165deg) translateZ(300px);}
.content-carrousel figure:nth-child(12){transform: rotateY(180deg) translateZ(300px);}
.content-carrousel figure:nth-child(13){transform: rotateY(195deg) translateZ(300px);}
.content-carrousel figure:nth-child(14){transform: rotateY(210deg) translateZ(300px);}
.content-carrousel figure:nth-child(15){transform: rotateY(225deg) translateZ(300px);}
.content-carrousel figure:nth-child(16){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(17){transform: rotateY(255deg) translateZ(300px);}
.content-carrousel figure:nth-child(18){transform: rotateY(270deg) translateZ(300px);}
.content-carrousel figure:nth-child(19){transform: rotateY(285deg) translateZ(300px);}
.content-carrousel figure:nth-child(20){transform: rotateY(300deg) translateZ(300px);}
.content-carrousel figure:nth-child(21){transform: rotateY(315deg) translateZ(300px);}
.content-carrousel figure:nth-child(22){transform: rotateY(330deg) translateZ(300px);}
.content-carrousel figure:nth-child(23){transform: rotateY(345deg) translateZ(300px);}
.content-carrousel figure:nth-child(24){transform: rotateY(360deg) translateZ(300px);}

.alumn{
    width: 100%;
    transition: all 300ms;
}

.alumn:hover{
    transform: scale(1.1);
    transition: all 300ms;
    cursor: pointer;
}


@keyframes rotarAliona{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(345deg);
    }
}
@keyframes rotarBelen{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(330deg);
    }
}
@keyframes rotarDaniel{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(315deg);
    }
}
@keyframes rotarDiana{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(300deg);
    }
}
@keyframes rotarElena{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(285deg);
    }
}
@keyframes rotarErick{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(270deg);
    }
}
@keyframes rotarErnesto{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(255deg);
    }
}
@keyframes rotarEsther{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(240deg);
    }
}
@keyframes rotarGema{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(225deg);
    }
}
@keyframes rotarHanna{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(210deg);
    }
}
@keyframes rotarJaime{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(195deg);
    }
}
@keyframes rotarJoana{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(540deg);
    }
}
@keyframes rotarJuana{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(525deg);
    }
}
@keyframes rotarKaren{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(510deg);
    }
}
@keyframes rotarLali{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(495deg);
    }
}
@keyframes rotarMaelly{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(480deg);
    }
}
@keyframes rotarMagda{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(465deg);
    }
}
@keyframes rotarMaria{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(450deg);
    }
}@keyframes rotarMarilyn{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(435deg);
    }
}
@keyframes rotarRodri{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(420deg);
    }
}
@keyframes rotarSantiago{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(405deg);
    }
}
@keyframes rotarVictor{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(390deg);
    }
}
@keyframes rotarYeison{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(375deg);
    }
}
@keyframes rotarYesid{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
#resultado{
    margin-top: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}